# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs & cache
# =========================
*.log
.cache/

# =========================
# Environment variables (if added later)
# =========================
.env